* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes tick {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  text-shadow: 0px 0px 10px #666;
  // background-color: #333;
  // transition: background 0.2s ease-in-out;
  // transition: background-image 0.4s ease-in-out;
}

.App {
  height: 100vh;
  background: no-repeat center/cover;
  transition: background 3s ease-in-out;
}
// .App {
//   height: 100vh;
//   background: no-repeat center/cover;
//   // transition: background-image 5s ease-in-out;
// }

.today {
  position: relative;
  width: 100%;
}

.calendar {
  position: absolute;
  top: 100%;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
}

.weather {
  position: relative;
  display: flex;
  align-items: center;
  .weather-temp {
    margin-left: 5px;
  }
}

.weather-details {
  position: absolute;
  right: 20px;
  width: 250px;
  background: white;
  border: 1px solid #a0a096;
  border-radius: 10px;
  box-shadow: 0 0 10px #666;
  padding: 15px;
  color: #000;
  text-shadow: none;
  text-align: center;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease-in-out;

  & > * {
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.opened {
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.weather-details__summary,
.weather-details__temp-minmax {
  display: flex;
  justify-content: space-around;
}

.weather-details__temp-minmax {
  margin-bottom: 0;
}

.top,
.bottom {
  position: fixed;
  padding: 15px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom {
  bottom: 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // filter: drop-shadow(0 0 10px #666);
}
.time__clock {
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  margin: 0.2em 0;
  display: flex;
  cursor: default;

  ::selection {
    background: none;
  }
}

.time__clock-colon {
  // display: inline-block;
  animation: tick 2s infinite; //bug with position absolute
  margin: 0 5px;
  margin-top: -5px;
}

.time__greetings {
  // font-size: 2em;
  text-transform: capitalize;
}

.search {
  background-color: #fff;
  border-radius: 25px;
  max-width: 600px;
  width: 80%;
  margin: 4em 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 10px #666;
}

.search__form {
  display: flex;
  align-items: center;
}

.search__icon {
  height: 1.2em;
  path {
    fill: #808080;
  }
}

.search__input {
  width: 100%;
  height: 2.5em;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}

.svg-icons {
  // filter: drop-shadow(0 0 10px #666);
  path {
    transition: fill 0.2s ease-in-out;
  }
}
.svg-icons:hover {
  path {
    fill: #e2e2e2;
  }
  // height: 50px;
}

.fa-1x {
  font-size: 1.6em;
}

button:disabled {
  path {
    fill: #666;
  }
}
